In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

import warnings
warnings.filterwarnings('ignore')

In [5]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
data = Path("..\Resources\lending_data.csv")

df = pd.read_csv(data)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [11]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df['loan_status']
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [12]:
# Separate the X variable, the features
X= df.drop(columns=["loan_status"])
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [13]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [14]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [16]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0
...           ...     ...
45639           0       0
11301           0       0
51614           0       0
4598            0       0
2793            0       0

[19384 rows x 2 columns]

In [17]:
# Print the balanced_accuracy score of the model
from sklearn.metrics import accuracy_score
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.9918489475856377

In [18]:
# Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[18663,   102],
       [   56,   563]], dtype=int64)

In [19]:
# Print the classification report for the model
from sklearn.metrics import classification_report
target_names = ["Zero", "One"]
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

        Zero       1.00      0.99      1.00     18765
         One       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

In [20]:
# the model predic very well on 0(healthy Loan) and not too bad on 1 (high-risk loan). overall accuracy is 99%

In [26]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
#  Assign a random_state parameter of 1 to the model
rus = RandomOverSampler(random_state=1)

In [27]:
# Fit the data to the model
X_resampled, y_resampled = rus.fit_resample(X_train, y_train)

In [28]:
# Count distinct resampled values
y_resampled.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

In [29]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [30]:

# Fit the model using training data
classifier.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [32]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0
...           ...     ...
45639           0       0
11301           0       0
51614           0       0
4598            0       0
2793            0       0

[19384 rows x 2 columns]

In [33]:
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.9938093272802311

In [34]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, predictions)

array([[18649,   116],
       [    4,   615]], dtype=int64)

In [35]:
# Print the classification report for the model
target_names = ["Zero", "One"]
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

        Zero       1.00      0.99      1.00     18765
         One       0.84      0.99      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

In [36]:
# the model predic very well on 0(healthy Loan) and not too bad on 1 (high-risk loan), recall has been improved in resampled data. overall accuracy is 99%